@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="account__login">
        <div class="account__login--header mb-25">
            <h2 class="account__login--header__title h3 mb-10">Login</h2>
            <p class="account__login--header__desc">Login if you area a returning customer.</p>
        </div>
        <div class="account__login--inner">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div>
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="account__login--input">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="account__login--input">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center">
                    <div class="account__login--remember position__relative">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <button class="account__login--forgot" type="submit">Forgot Your Password?</button>
                </div>
                <button class="account__login--btn primary__btn mb-10" type="submit">Login</button>
            </form>
            <div class="account__login--divide">
                <span class="account__login--divide__text">OR</span>
            </div>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    // <a class="account__social--link facebook">Facebook</a>
                    // <a class="account__social--link google">Google</a>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="POST" class="form-horizontal">
                        <div class="account__social d-flex justify-content-center mb-15">
                            @*@foreach (var provider in Model.ExternalLogins!)
                            //    {
                            //        <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            //    }*@
                            <button type="submit" name="provider" class="account__social--link google" value="Google" style="border-color:transparent;">Google</button>
                        </div>
                    </form>
                }
            }
        </div>
    </div>

    @*<div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />

                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>*@

    @*<div class="col-md-6 col-md-offset-2">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <h3>Use another service to log in.</h3>
                    <hr />
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
