@inject IHtmlLocalizer<OnlineClassifieds.SharedResources.MainTemplateResource> MainLocalizer
@inject IHtmlLocalizer<OnlineClassifieds.SharedResources.PageResource> PageLocalizer

<section class="about__section section--padding mb-95">
    <div class="container">
        <div class="section__heading text-center mb-50">
            <h2 class="section__heading--maintitle">@MainLocalizer["AboutUs_Text"]</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="about__thumb d-flex">
                    <div class="about__thumb--items">
                        <img src="~/logo/about_us.jpg" class="about__thumb--img border-radius-5 display-block" alt="about">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__content">
                    <span class="about__content--subtitle text__secondary mb-20">@PageLocalizer["WhoWeAre_Title"]</span>
                    <p class="about__content--desc mb-20">@PageLocalizer["WhoWeAre_Text"]</p>
                    
                    <span class="about__content--subtitle text__secondary mb-20">@PageLocalizer["OurMission_Title"]</span>
                    <p class="about__content--desc mb-20">@PageLocalizer["OurMission_Text"]</p>
                
                    <span class="about__content--subtitle text__secondary mb-20">@PageLocalizer["WhyChooseUs_Title"]</span>
                    <p class="about__content--desc mb-20">@PageLocalizer["WhyChooseUs_Text"]</p>
                    <ul class="list-group">
                        <li class="list-group-item about__content--desc">@PageLocalizer["WhyChooseUs_List1"]</li>
                        <li class="list-group-item about__content--desc">@PageLocalizer["WhyChooseUs_List2"]</li>
                        <li class="list-group-item about__content--desc">@PageLocalizer["WhyChooseUs_List3"]</li>
                        <li class="list-group-item about__content--desc">@PageLocalizer["WhyChooseUs_List4"]</li>
                        <li class="list-group-item about__content--desc">@PageLocalizer["WhyChooseUs_List5"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team__section section--padding">
    <div class="container">
        <div class="section__heading text-center mb-50">
            <h2 class="section__heading--maintitle">@PageLocalizer["OurTeam_Title"]</h2>
        </div>
        <div class="team__container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 custom-col">
                    <div class="team__items text-center">
                        <div class="team__thumb">
                            <img src="~/logo/team_photo_1.jpg" class="team_user_avatar" alt="photo">
                        </div>
                        <div class="team__content">
                            <h3 class="team__content--title">Soboliev Daniil</h3>
                            <span class="team__content--subtitle">Programmer / Designer</span>
                            <ul class="team__social d-flex justify-content-center align-items-center">
                                <li class="team__social--list">
                                    <a href="https://www.instagram.com/soboliev_daniil/" class="team__social--icon" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.497" height="16.492" viewBox="0 0 19.497 19.492">
                                            <path  data-name="Icon awesome-instagram" d="M9.747,6.24a5,5,0,1,0,5,5A4.99,4.99,0,0,0,9.747,6.24Zm0,8.247A3.249,3.249,0,1,1,13,11.238a3.255,3.255,0,0,1-3.249,3.249Zm6.368-8.451A1.166,1.166,0,1,1,14.949,4.87,1.163,1.163,0,0,1,16.115,6.036Zm3.31,1.183A5.769,5.769,0,0,0,17.85,3.135,5.807,5.807,0,0,0,13.766,1.56c-1.609-.091-6.433-.091-8.042,0A5.8,5.8,0,0,0,1.64,3.13,5.788,5.788,0,0,0,.065,7.215c-.091,1.609-.091,6.433,0,8.042A5.769,5.769,0,0,0,1.64,19.341a5.814,5.814,0,0,0,4.084,1.575c1.609.091,6.433.091,8.042,0a5.769,5.769,0,0,0,4.084-1.575,5.807,5.807,0,0,0,1.575-4.084c.091-1.609.091-6.429,0-8.038Zm-2.079,9.765a3.289,3.289,0,0,1-1.853,1.853c-1.283.509-4.328.391-5.746.391S5.28,19.341,4,18.837a3.289,3.289,0,0,1-1.853-1.853c-.509-1.283-.391-4.328-.391-5.746s-.113-4.467.391-5.746A3.289,3.289,0,0,1,4,3.639c1.283-.509,4.328-.391,5.746-.391s4.467-.113,5.746.391a3.289,3.289,0,0,1,1.853,1.853c.509,1.283.391,4.328.391,5.746S17.855,15.705,17.346,16.984Z" transform="translate(0.004 -1.492)" fill="currentColor"/>
                                        </svg>
                                        <span class="visually-hidden">Instagram</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
