@inject IHtmlLocalizer<OnlineClassifieds.SharedResources.MainTemplateResource> Localizer

<div class="container-fluid">
    <div class="main__footer d-flex justify-content-between">
        <div class="footer__widget footer__widget--width">
            <h2 class="footer__widget--title text-ofwhite h3">@Localizer["AboutUs_Text"]
                <button class="footer__widget--button" aria-label="footer widget button">
                    <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                        <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                    </svg>
                </button>
            </h2>
            <div class="footer__widget--inner">
                <p class="footer__widget--desc text-ofwhite mb-20">
                    @Localizer["AboutUs_Text1_Footer"]<br />
                    @Localizer["AboutUs_Text2_Footer"]<br />
                    @Localizer["AboutUs_Text3_Footer"]<br />
                </p>
                <div class="footer__social">
                    <h3 class="social__title text-ofwhite h4 mb-15">@Localizer["FollowUs_Text"]</h3>
                    <ul class="social__shear d-flex">
                        <li class="social__shear--list">
                            <a class="social__shear--list__icon" target="_blank" href="https://www.instagram.com/soboliev_daniil/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.497" height="16.492" viewBox="0 0 19.497 19.492">
                                    <path  data-name="Icon awesome-instagram" d="M9.747,6.24a5,5,0,1,0,5,5A4.99,4.99,0,0,0,9.747,6.24Zm0,8.247A3.249,3.249,0,1,1,13,11.238a3.255,3.255,0,0,1-3.249,3.249Zm6.368-8.451A1.166,1.166,0,1,1,14.949,4.87,1.163,1.163,0,0,1,16.115,6.036Zm3.31,1.183A5.769,5.769,0,0,0,17.85,3.135,5.807,5.807,0,0,0,13.766,1.56c-1.609-.091-6.433-.091-8.042,0A5.8,5.8,0,0,0,1.64,3.13,5.788,5.788,0,0,0,.065,7.215c-.091,1.609-.091,6.433,0,8.042A5.769,5.769,0,0,0,1.64,19.341a5.814,5.814,0,0,0,4.084,1.575c1.609.091,6.433.091,8.042,0a5.769,5.769,0,0,0,4.084-1.575,5.807,5.807,0,0,0,1.575-4.084c.091-1.609.091-6.429,0-8.038Zm-2.079,9.765a3.289,3.289,0,0,1-1.853,1.853c-1.283.509-4.328.391-5.746.391S5.28,19.341,4,18.837a3.289,3.289,0,0,1-1.853-1.853c-.509-1.283-.391-4.328-.391-5.746s-.113-4.467.391-5.746A3.289,3.289,0,0,1,4,3.639c1.283-.509,4.328-.391,5.746-.391s4.467-.113,5.746.391a3.289,3.289,0,0,1,1.853,1.853c.509,1.283.391,4.328.391,5.746S17.855,15.705,17.346,16.984Z" transform="translate(0.004 -1.492)" fill="currentColor"/>
                                </svg>
                                <span class="visually-hidden">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__widget footer__widget--width">
            <h2 class="footer__widget--title text-ofwhite h3">@Localizer["Newsletter_Text"] 
                <button class="footer__widget--button" aria-label="footer widget button">
                    <svg class="footer__widget--title__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" viewBox="0 0 10.355 6.394">
                        <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                    </svg>
                </button>
            </h2>
            <div class="footer__widget--inner">
                <p class="footer__widget--desc text-ofwhite m-0">
                    @Localizer["Newsletter_Text1"] <br />
                    @Localizer["Newsletter_Text2"]
                </p> 
                <div class="newsletter__subscribe">
                    <form class="newsletter__subscribe--form" action="#">
                        <label>
                            <input class="newsletter__subscribe--input" placeholder="@Localizer["EmailAddress_PH"]" type="email">
                        </label>
                        <button class="newsletter__subscribe--button" type="submit">@Localizer["Subscribe_Text"]</button>
                    </form>   
                </div> 
            </div> 
        </div>
    </div>
    <div class="footer__bottom d-flex justify-content-between align-items-center">
        <p class="copyright__content text-ofwhite m-0"> 
            @Localizer["OnlineClassifieds_Text1"] © 2024
            <a class="copyright__content--link" href="https://github.com/DaniilSob2004" target="_blank">GitHub</a> .
            @Localizer["OnlineClassifieds_Text2"]
        </p>
    </div>
</div>
