@inject IHtmlLocalizer<OnlineClassifieds.SharedResources.MainTemplateResource> Localizer

<div class="header__bottom">
    <div class="container-fluid">
        <div class="header__bottom--inner position__relative d-none d-lg-flex justify-content-between align-items-center">
            <div class="header__menu">
                <nav class="header__menu--navigation">
                    <ul class="d-flex">
                        <li class="header__menu--items">
                            <a class="header__menu--link" asp-controller="Announcement" asp-action="Index">@Localizer["Home_Text"] </a>
                        </li>
                        <li class="header__menu--items">
                            <a class="header__menu--link" asp-controller="Home" asp-action="AboutUs">@Localizer["AboutUs_Text"] </a>  
                        </li>
                        <li class="header__menu--items">
                            <a class="header__menu--link" href="#">@Localizer["Pages_Text"] 
                                <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                                    <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                </svg>
                            </a>
                            <ul class="header__sub--menu">
                                <li class="header__sub--menu__items">
                                    <a asp-controller="Home" asp-action="AboutUs" class="header__sub--menu__link">@Localizer["AboutUs_Text"]</a>
                                </li>
                                <li class="header__sub--menu__items">
                                    <a asp-area="Identity" asp-page="/Account/Login" class="header__sub--menu__link">@Localizer["Login_Text"]</a>
                                </li>
                                <li class="header__sub--menu__items">
                                    <a asp-area="Identity" asp-page="/Account/Register" class="header__sub--menu__link">@Localizer["Register_Text"]</a>
                                </li>
                                <li class="header__sub--menu__items">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="header__sub--menu__link">@Localizer["MyAccount_Text"]</a>
                                </li>
                                <li class="header__sub--menu__items">
                                    <a asp-controller="Announcement" asp-action="Create" class="header__sub--menu__link">@Localizer["AddAnnouncment_Menu"]</a>
                                </li>
                                <li class="header__sub--menu__items">
                                    <a asp-controller="Announcement" asp-action="GetUserAnnouncement" class="header__sub--menu__link">@Localizer["MyAnnouncment_Menu"]</a>
                                </li>
                                <li class="header__sub--menu__items">
                                    <a asp-controller="Message" asp-action="Index" class="header__sub--menu__link">@Localizer["Messages_Menu"]</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <p class="header__discount--text"><img class="header__discount--icon__img" src="~/icon/lamp.png" alt="lamp-img">
                @Localizer["Message_Header_Info"]
            </p>
        </div>
    </div>
</div>
